<div class="card m-b-10" style="    width: 900px !important;">
    <div class="card-header bg-primary p-10">
        <div class="row mt-2">
            <!--Down Icon-->
            <div class="col-1 offset-1">
                <i class="zmdi zmdi-file" style="color: white; font-size: 35px"></i>
            </div>
            <!--Title-->
            <div class="col-5 p-t-5">
                <h2 style="color: white">Daily Transactions</h2>
            </div>
        </div>
    </div>
    <div class="card-body">

        <!--Filters-->
        <div class="row">

        </div>

        <!--Transactions-->
    </div>
    <div class="card-footer text-right p-b-10 p-t-20">
        <button class="btn btn-danger m-r-15">Close</button>
        <button class="btn btn-success">Print</button>
    </div>
</div>
