<div class="card" style="width: 900px; margin-bottom: 0;">
  <div class="card-title bg-success p-10">
    <!--Header-->
    <div class="row mt-2">
      <!--Accounts Icon-->
      <div class="col-1 offset-1">
        <i class="zmdi zmdi-accounts" style="color: white; font-size: 40px"></i>
      </div>
      <!--Title-->
      <div class="col-5">
        <h1 style="color: white">Manage Users</h1>
      </div>
    </div>
  </div>


  <div class="card-body p-15">

    <div class="row">
      <!--Users Table-->
      <div class="col-8">

        <div class="card usersCard">
          <perfect-scrollbar>
            <table class="table table-hover mb-0">
              <thead>
              <tr>
                <th>Username</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of users" class="cursor-pointer">
                <td (click)="sendUserToEdit(user)" >{{user.username}}</td>
              </tr>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>

      </div>

      <!--Edit User Zone-->
      <div class="col-4">
        <!--First Name-->
        <div class="form-group">
          <input type="text" class="form-control form-control-line" #firstName placeholder="First Name" [(ngModel)]="editableUser.firstName">
          <i class="form-group__bar"></i>
        </div>

        <!--Last Name-->
        <div class="form-group">
          <input type="text" class="form-control form-control-line" #lastName placeholder="Last Name" [(ngModel)]="editableUser.lastName">
          <i class="form-group__bar"></i>
        </div>

        <!--Email-->
        <div class="form-group">
          <input type="text" class="form-control form-control-line" #email placeholder="Email" [(ngModel)]="editableUser.email">
          <i class="form-group__bar"></i>
        </div>

        <!--Security Levels Radios-->
        <h4>Security Level</h4>
        <div>
          <label class="custom-control custom-radio">
            <input type="radio" name="radio-inline" class="custom-control-input" value="0" [(ngModel)]="securityLevel">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">User</span>
          </label>

          <label class="custom-control custom-radio">
            <input type="radio" name="radio-inline" class="custom-control-input" value="1" [(ngModel)]="securityLevel">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Sup</span>
          </label>

          <label class="custom-control custom-radio">
            <input type="radio" name="radio-inline" class="custom-control-input" value="2" [(ngModel)]="securityLevel">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Admin</span>
          </label>
        </div>

        <!--Reset Password CheckBox-->
        <div class="clearfix mt-4"></div>
        <div>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" [(ngModel)]="editableUser.passwordReset">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Reset Password</span>
          </label>
        </div>


        <!--Active Account CheckBox-->
        <div class="clearfix mt-3"></div>
        <div>
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" [(ngModel)]="editableUser.activeAccount">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Active Account</span>
          </label>
        </div>


      </div>
    </div>
    <!--Buttons-->
    <div class="row mt-4">
      <div class="col-3 offset-1">
        <button class="btn btn-primary" (click)="saveUser()">Apply Changes</button>
      </div>

      <div class="col-3 offset-1">
        <button class="btn btn-success" (click)="openSignUpModal()">Add User</button>
      </div>

      <div class="col-3 offset-1">
        <button class="btn btn-danger" (click)="closeModal()">Close</button>
      </div>
    </div>

  </div>
</div>