@import "../../pages/login/login.component";
.cardStyle{
  width: 400px;
  height: 400px;
  border-radius: 3%;
}

.cardBodyStyle{
  height: 300px
}

.iconStyle{
  font-size: 150px;
  color: #32c787;
}

.f-s-18{
  font-size: 18px;
  padding:10px;
}

.f-s-20{
  font-size: 20px;
}