<section class="content">

    <h1>Transaccions</h1>

    <!--Card-->
    <div class="card mt-4">

        <div class="row">
            <div class="col-9">
                <!--Filters-->
                <div class="row offset-1 mt-5">
                    <div class="col-5 p-l-30">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-line" [(ngModel)]="transactionNumber" placeholder="Transaction Number">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-line" [(ngModel)]="dateFrom" placeholder="Date From">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-line" [(ngModel)]="dateTo" placeholder="Date To">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-danger">Clear</button>
                        <button class="btn btn-primary" (click)="searchTransactions()">Search</button>
                    </div>
                </div>

                <div class="row">
                    <!--Transactions Table-->
                    <div class="col-11 offset-1">
                        <table class="table table-hover mb-0">
                            <thead>
                            <tr>
                                <th>Transaction ID</th>
                                <th>Patient Name</th>
                                <th>Register</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let transaction of transactions" class="cursor-pointer">
                                <td>{{transaction.key}}</td>
                                <td>{{transaction.patientFirstName}}</td>
                                <td>{{transaction.userKey}}</td>
                                <td>{{transaction.dateRegistered}}</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--Receipt-->
            <div class="col-3 mt-5">
                <h4>Receipt</h4>
                <div class="row">
                    <!--Titles-->
                    <div class="col-8">
                        <p>Amount Charged:</p>
                        <p>Cash:</p>
                        <p>Credit Card:</p>
                        <p>Check:</p>
                        <p>Total:</p>
                        <p>Change:</p>
                    </div>
                    <!--Amounts-->
                    <div class="col-4">
                        <p>$0.00</p>
                        <p>$0.00</p>
                        <p>$0.00</p>
                        <p>$0.00</p>
                        <p>$0.00</p>
                        <p>$0.00</p>
                    </div>
                </div>
                <!--Buttons-->
                <div class="offset-2 mt-3 mb-3">
                    <button class="btn btn-danger">Close</button>
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-success">Print</button>
                </div>
            </div>
        </div>



    </div>


</section>