<div class="navigation-trigger" [class.toggled]="_globals.sidebarVisible" (click)="sidenavAndClickIcon()">
    <div class="navigation-trigger__inner" style="cursor: pointer;">
        <i class="navigation-trigger__line"></i>
        <i class="navigation-trigger__line"></i>
        <i class="navigation-trigger__line"></i>
    </div>
</div>

<aside id="mySidenav" class="sidenav" style="margin-top: 72px;" [class.toggled]="_globals.sidebarVisible">
    <div class="row">
        <div class="col-12">
            <!--<div class="user">-->
                <!--<div class="user__info">-->
                    <!--&lt;!&ndash;<img class="borderStyleImage" src="../../../../assets/demo/img/profile-pics/4.jpg">&ndash;&gt;-->
                    <!--<div>-->
                        <!--<div class="user__name">Bienvenido</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--menu and submenus-->
            <div class="f-s-16 c-s-gray">
                <ul class="listStyleNone p-0">
                    <!--Home-->
                    <li class="cursor-pointer" (click)="sidenavAndClickIcon()"><a [routerLink]="['/home']">
                        <i class="zmdi zmdi-home m-r-10 paddMenuOptions"></i>
                        <span>Home</span></a>
                    </li>
                    <!--Reports-->
                    <li class="listStyleNone cursor-pointer" (click)="viewReportsOptions=!viewReportsOptions">
                        <a><i class="zmdi zmdi-file-text m-r-10 paddMenuOptions liStyle"></i>
                            Reports</a>
                        <ul class="animated  fadeIn p-0 m-l-75 listStyleNone p-0" *ngIf="viewReportsOptions">
                            <li class="p-b-5 cursor-pointer" (click)="sidenavAndClickIcon()"><a
                                    [routerLink]="['/daily-transactions']">Daily
                                Transactions</a></li>
                            <li class="p-b-5 cursor-pointer" (click)="sidenavAndClickIcon()"><a
                                    [routerLink]="['/logs']">Logs</a></li>
                            <li class="p-b-5 cursor-pointer" (click)="sidenavAndClickIcon()"><a
                                    [routerLink]="['/transactions']">Receipt</a></li>
                            <li class="p-b-5 cursor-pointer" (click)="sidenavAndClickIcon()"><a
                                    [routerLink]="['/closed-statements']">Closed
                                Statements</a></li>
                        </ul>
                    </li>
                    <!--User-->
                    <li class="cursor-pointer"><a [routerLink]="['/userProfile']" (click)="sidenavAndClickIcon()">
                        <i class="zmdi zmdi-account m-r-10 paddMenuOptions"></i>
                        <span>User</span></a>
                    </li>
                    <!--Settings-->
                    <li class="cursor-pointer" (click)="viewSettingsOptions=!viewSettingsOptions">
                        <i class="zmdi zmdi-settings m-r-10 paddMenuOptions"></i>
                        <span class="itemsList">Settings</span>
                        <ul class="animated fadeIn p-0 m-l-75 listStyleNone p-0" *ngIf="viewSettingsOptions">
                            <li class="p-b-5 cursor-pointer" (click)="sidenavAndClickIcon()"><a
                                    [routerLink]="['/register']">Register</a></li>
                            <li class="p-b-5 cursor-pointer" (click)="sidenavAndClickIcon()"><a
                                    [routerLink]="['/general']">General</a></li>
                            <li class="p-b-5 cursor-pointer" (click)="sidenavAndClickIcon()"><a
                                    [routerLink]="['/smtp']">SMTP</a></li>
                        </ul>
                    </li>
                    <li class="cursor-pointer" (click)="sidenavAndClickIcon(); openAbout()"><a>
                        <i class="zmdi zmdi-info m-r-10 paddMenuOptions"></i>
                        <span>About</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>