// Import Bootstrap and App variables and mixins
@import "../../../../assets/scss/inner-imports";

.navigation-trigger {
  float: left;
  padding: 2rem 2rem 2rem 2.4rem;
  margin-left: -2rem;

  &:hover {
    cursor: pointer;
  }

  &.toggled {
    .navigation-trigger__inner {
      transform: rotate(180deg);

      &:before {
        transform: scale(1);
      }
    }

    .navigation-trigger__line {
      &:first-child {
        width: 12px;
        transform: translateX(8px) translateY(1px) rotate(45deg);
      }

      &:last-child {
        width: 11px;
        transform: translateX(8px) translateY(-1px) rotate(-45deg);
      }
    }
  }
}

.navigation-trigger__inner,
.navigation-trigger__line {
  width: 18px;
  @include transition(all 300ms);
}

.navigation-trigger__inner {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    left: -11px;
    top: -14px;
    background-color: rgba($white, 0.25);
    border-radius: 50%;
    @include transition(all 300ms);
    transform: scale(0);
  }
}

.navigation-trigger__line {
  height: 2px;
  background-color: $white;
  display: block;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 3px;
  }
}

//sidenav

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  box-shadow: 4px 0px 5px 0px rgba(179,170,179,0.75);
}

.sidenav a {
  //padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

a:hover {
  color: #707070;
  font-weight: bold;
}

.itemsList span:hover{
  color: #707070;
  font-weight: bold;
}

li.liStyle:hover{
  color: #707070;
  font-weight: bold;
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

//user

.user {
  background-color: $navigation-link-hover-bg;
  border-radius: $border-radius;
  margin: 0 0 1.5rem 0;
  position: relative;

  .dropdown-menu {
    width: 100%;
  }
}

.user__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.8rem;
  border-radius: 100%;
  @include transition(background-color 300ms);
}

.user__img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.user__name {
  color: #707070;
  font-weight: $font-weight-bold;
  font-size: 16px;
  margin-left:10px;
}

.user__email {
  color: lighten($body-color, 15%);
}

.borderStyleImage{
  border-radius: 100%;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.paddMenuOptions{
  padding: 25px 0px 25px 40px;
}

.paddSubmenuOptions{
  padding: 25px 0px 25px 40px;
}

.cursor-pointer{
  cursor: pointer;
}

.listStyleNone{
  list-style:none;
}

.m-l-75{
  margin-left:75px;
}

.f-s-16{
  font-size: 16px;
}

.c-s-gray{
  color: #707070;
}

