<div class="card todo">
    <div class="card-header">
        <h2 class="card-title">Todo lists</h2>
        <small class="card-subtitle">Venenatis portauam Inceptos ameteiam</small>
    </div>

    <div class="listview">
        <div *ngFor="let todoListData of todoListData" class="listview__item">
            <label class="custom-control custom-control--char todo__item">
                <input class="custom-control-input" type="checkbox" value="" checked="{{ todoListData.checked }}">
                <span class="custom-control--char__helper"><i class="{{ todoListData.color }}">{{ todoListData.letter }}</i></span>
                <div class="todo__info">
                    <span>{{ todoListData.todo }}</span>
                    <small>{{ todoListData.venue }}</small>
                </div>

                <div class="listview__attrs">
                    <span>{{ todoListData.category }}</span>
                    <span>{{ todoListData.priority }}</span>
                </div>
            </label>

            <div class="actions listview__actions">
                <div class="dropdown actions__item">
                    <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="">Mark as completed</a>
                        <a class="dropdown-item" href="">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <a href="" class="view-more">View More</a>
    </div>
</div>