<section class="content">

    <div class="row">
        <div class="col-10 offset-1">
            <h3>General</h3>
            <div class="card p-25">

                <!--Idle Minutes and Leave Money in register radioButtons-->
                <div class="row">

                    <!--Idle Minutes Input-->
                    <div class="col-5 offset-1">
                        <table class="table" style="border: 1px solid #2ebcfc">
                            <thead class="table-info" style="color: white;">
                            <tr>
                                <th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr align="center">
                                <td>
                                    <div class="input-group w-100">
                                        <span class="mt-2 mr-3">Lock the application in</span>
                                        <div class="form-group">
                                            <input type="text" class="form-control text-center" placeholder=""
                                                   (keypress)="restrictNumeric($event)"
                                                   [(ngModel)]="settings.idleTime">
                                            <i class="form-group__bar"></i>
                                        </div>
                                        <span class="mt-2 ml-3">Minutes</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--Leave money in register or not radio buttons-->
                    <div class="col-5">
                        <table class="table" style="border: 1px solid #2ebcfc">
                            <thead class="table-info" style="color: white;">
                            <tr>
                                <th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <label class="custom-control custom-radio">
                                        <input id="radio1" name="leaveMoney" value="true" type="radio" class="custom-control-input"
                                               [(ngModel)]="leaveMoneyInRegister">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Leave Money In Register</span>
                                    </label>

                                    <div class="clearfix mt-2"></div>

                                    <label class="custom-control custom-radio">
                                        <input type="radio" name="leaveMoney" value="false" class="custom-control-input"
                                               [(ngModel)]="leaveMoneyInRegister">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Leave Register Empty</span>
                                    </label>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <!--Send password RadioButtons-->
                <div class="row">
                    <div class="col-10 offset-1">
                            <table class="table" style="border: 1px solid #2ebcfc">
                                <thead class="table-info" style="color: white;">
                                <tr>
                                    <th>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr align="center">
                                    <td>

                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="sendPassword" value="true" class="custom-control-input"
                                                   [(ngModel)]="sendPassword">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Send password through Email</span>
                                        </label>

                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="sendPassword" value="false" class="custom-control-input"
                                                   [(ngModel)]="sendPassword">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Show password in the screen</span>
                                        </label>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>
                </div>

                <!--Default Password and Load Logo Input-->
                <div class="row">
                    <!--Default Password-->
                    <div class="col-7 offset-1">
                            <table class="table" style="border: 1px solid #2ebcfc">
                                <thead class="table-info" style="color: white;">
                                <tr>
                                    <th>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr align="left">
                                    <td>
                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="defaultPassword" value="true" class="custom-control-input"
                                                   [(ngModel)]="useDefaultPassword" (ngModelChange)="enableOrDisableDefaultPasswordInput()">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Use default password</span>
                                        </label>

                                        <div class="clearfix mt-2"></div>

                                        <label class="custom-control custom-radio">
                                            <input type="radio" name="defaultPassword" value="false" class="custom-control-input"
                                                   [(ngModel)]="useDefaultPassword" (ngModelChange)="enableOrDisableDefaultPasswordInput()">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">The application generate a temporary password</span>
                                        </label>

                                        <div class="clearfix mt-2"></div>

                                        <div class="form-group w-50">
                                            <input type="text" class="form-control" placeholder="Default Password" #defaultPasswordInput
                                                   [(ngModel)]="settings.defaultPassword"
                                            >
                                            <i class="form-group__bar"></i>
                                        </div>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </div>

                    <!--Load Logo-->
                    <div class="col-3">
                        <table class="table" style="border: 1px solid #2ebcfc">
                            <thead class="table-info" style="color: white;">
                            <tr>
                                <th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr align="center">
                                <td>
                                    <img src="{{ settings.logoUrl }}" alt="" style="width: 150px">
                                    <button class="btn btn-primary m-t-10" (click)="openUploadLogo()">
                                        <h4 style="color: white;">Load Logo</h4>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <!--Save Button-->
                <div class="row">
                    <div class="col-4 offset-1">
                        <button class="btn btn-primary" (click)="saveSettings()">Save Settings</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>