<div class="card" style="width: 900px; margin-bottom: 0;">
    <div class="card-title bg-success">

        <!--Header-->
        <div class="row mt-2">
            <!--Down Icon-->
            <div class="col-1 offset-1">
                <i class="zmdi zmdi-download" style="color: white; font-size: 40px"></i>
            </div>
            <!--Title-->
            <div class="col-5">
                <h1 style="color: white">Cash In</h1>
            </div>
        </div>
    </div>


    <div class="card-body p-15">

        <!--Patient Name Input-->
        <div class="mt-3">
            <h5>Patient Name</h5>
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="Name" [(ngModel)]="newTransaction.patientFirstName">
                <i class="form-group__bar"></i>
            </div>
        </div>


        <!--Payment-->
        <div class="row">

            <!--Payments Inputs-->
            <div class="col-3 text-center ">
                <!--Amount Charge Input-->
                <div class="mt-3">
                    <span>Amount Charge</span>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="0.00" (keypress)="restrictNumeric($event)" [(ngModel)]="newTransaction.amountCharged"
                                   (ngModelChange)="showTotalAmountChange()">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                </div>
                <!--Cash Input-->
                <div class="mt-3">
                    <span>Cash</span>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="0.00" (keypress)="restrictNumeric($event)" [(ngModel)]="newTransaction.cash"
                                   (ngModelChange)="showTotalAmountChange()">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                </div>
                <!-- Credit Input-->
                <div class="mt-3">
                    <span>Credit</span>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="0.00" (keypress)="restrictNumeric($event)" [(ngModel)]="newTransaction.credit"
                                   (ngModelChange)="showTotalAmountChange()">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                </div>
                <!--Check Input-->
                <div class="mt-3">
                    <span>Check</span>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="0.00" (keypress)="restrictNumeric($event)" [(ngModel)]="newTransaction.check"
                                   (ngModelChange)="showTotalAmountChange()">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                </div>
                <!--Check Number Input-->
                <div class="mt-3">
                    <span>Check #</span>
                    <div class="input-group">
                        <span class="input-group-addon">#</span>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="0" (keypress)="restrictNumeric($event)" [(ngModel)]="newTransaction.checkNumber"
                                   (ngModelChange)="showTotalAmountChange()">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!--Checkboxs And Totals-->
            <div class="col-4 offset-1 mt-3">

                <!-- Checkboxs-->
                <div>
                    <label class="custom-control custom-radio">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="newTransaction.copayment">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Copayment</span>
                    </label>

                    <div class="clearfix mt-2"></div>

                    <label class="custom-control custom-radio">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="newTransaction.selfPay">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">SelfPay</span>
                    </label>

                    <div class="clearfix mt-2"></div>

                    <label class="custom-control custom-radio">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="newTransaction.deductible">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Deductible</span>
                    </label>

                    <div class="clearfix mt-2"></div>

                    <label class="custom-control custom-radio">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="newTransaction.labs">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Labs</span>
                    </label>

                    <div class="clearfix mt-2"></div>

                    <label class="custom-control custom-radio">
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="newTransaction.other">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Other</span>
                    </label>
                </div>

                <!--Other Comments-->
                <div class="form-group" *ngIf="newTransaction.other">
                    <input type="text" class="form-control form-control-lg" placeholder="Other" [(ngModel)]="newTransaction.otherComments" >
                    <i class="form-group__bar"></i>
                </div>

                <div class="clearfix mt-5"></div>

                <!--Totals-->
                <div class="row">
                    <div class="col-6">
                        <div>Total</div>
                        <div class="text-danger">Amount</div>
                        <div>Change</div>
                    </div>

                    <div class="col-4 offset-2">
                        <div>${{total}}</div>
                        <div>${{amount}}</div>
                        <div>${{change}}</div>
                    </div>
                </div>
            </div>

            <!--Comments-->
            <div class="col-4">
                <h6>Comments</h6>
                <div class="form-group">
                    <textarea class="form-control" rows="9" placeholder="Type A Comment...." [(ngModel)]="newTransaction.comment"></textarea>
                    <i class="form-group__bar"></i>
                </div>
            </div>

        </div>

        <!--Buttons-->
        <div class="row mt-4">
            <div class="col-3 offset-1">
                <button class="btn btn-danger" (click)="clearAllInputs()">Clear all input</button>
            </div>

            <div class="col-3 offset-5">
                <button class="btn btn-dark" (click)="closeModal()">Cancel</button>
                <button class="btn btn-success" (click)="savePrint()">Save print</button>
            </div>
        </div>

    </div>
</div>
