<section style="width: 750px; height: 500px;">
    <div class="card">
        <div class="card-header bg-danger text-white p-t-10 p-b-10">
            <div class="row">
                <div class="col-1">
                    <i class="zmdi zmdi-close zmdi-hc-3x"></i>
                </div>
                <div class="col-11 m-t-5 p-l-0">
                    <h3 class="d-inline-block text-white m-l-10">Close Date</h3>
                </div>
            </div>
        </div>

        <div class="card-body">

        </div>

        <div class="card-footer">

        </div>
    </div>
</section>