.cardRefund{
  height: 680px;
  width: 800px;
}

.colorWhite{
  color: white;
}

.headerRefound{
  background-color: #f1c232;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.iconRefound{
  font-size: 35px;
}

.ml-10{
  margin-left: 10px;
}

.t-a-c{
  text-align: center;
}

.mt-5{
  margin-top: 5px!important;
}
.mt-20{
  margin-top: 20px!important;
}
.form-control-line{
  border-bottom: 1px solid #e0e0e0 !important;
}