.cardRefund{
  height: 680px;
  width: 800px;
}

.colorWhite{
  color: white;
}

.headerRefound{
  background-color: #f1c232;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.iconRefound{
  font-size: 35px;
}

.ml-10{
  margin-left: 10px;
}

.mt-5{
  margin-top: 5px!important;
}