<section>
  <div class="cardRefund">
    <div class="row headerRefound">
      <!--header-->
      <div class="col-12">
        <div class="row">
          <div class="col-1 ml-10">
            <i class="zmdi zmdi-money-box iconRefound colorWhite"></i>
          </div>
          <div class="col-10 mt-5">
              <h2 class="colorWhite">Refund</h2>
          </div>
        </div>
      </div>
    </div>

    <!--body-->
    <div class="row" style="margin-top: 20px;">
      <div class="col-12">
        <div class="row">
          <div class="offset-1 col-6">
            <div class="form-group">
              <input type="text" class="form-control form-control-line"
                     placeholder="Transaction Number" [(ngModel)]="transactionNumber" name="numberTransaction"
              >
              <i class="form-group__bar"></i>
            </div>
          </div>
          <!--buttons-->
          <div class="col-4">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-success">Search</button>
              </div>
              <div class="col-6">
                <button class="btn btn-danger" (click)="clearTransaction()">Clear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>