<section class="content">

    <h1>Logs</h1>


    <div class="card mt-4" style="height: 70vh; max-height: 70vh">
        <!--Filters-->
        <div class="row offset-1 mt-5">
            <div class="col-4 p-l-30">
                <div class="form-group">
                    <input type="text" class="form-control form-control-line" [(ngModel)]="transactionNumber"
                           placeholder="Transaction Number">
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input type="text" class="form-control form-control-line" [(ngModel)]="dateFrom"
                           placeholder="Date From">
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <input type="text" class="form-control form-control-line" [(ngModel)]="dateTo"
                           placeholder="Date To">
                    <i class="form-group__bar"></i>
                </div>
            </div>
            <div class="col-4">
                <button class="btn btn-danger" (click)="cleanFields()">Clear</button>
                <button class="btn btn-primary" (click)="searchTransactions()">Search</button>
                <button class="btn btn-success">Print</button>
            </div>
        </div>
        <!--Transactions Table-->
        <div class="row">
            <div class="col-10 offset-1">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>User</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>16582</td>
                        <td>Dlio</td>
                        <td>El usuario hizo la transaccion derp</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>