<section style="width: 700px">
    <div class="card">
        <div class="card-header bg-primary text-white p-t-10 p-b-10">
            <div class="row">
                <div class="col-11 m-t-5 p-l-0">
                    <h4 class="d-inline-block text-white m-l-10">About</h4>
                </div>
            </div>
        </div>

        <div class="row p-20">
            <div class="col-6">
                <h5>Doctor Intech</h5>
                <div class="m-l-5">
                    <p>
                        Product Version: 1.0.0
                    </p>
                    <p>
                        User Logged: {{ securityLevel }}
                    </p>
                    <p>
                        Computer Name: {{ computerName }}
                    </p>
                    <p class="m-t-10">
                        Devoloped by <a href="https://tecnologiasintech.com/">Tecnologias Intech</a>
                    </p>
                </div>
            </div>
            <div class="col-6">
                <p>License info:</p>
                <div class="m-l-5">
                    <p>Name: Clinica La Familia</p>
                    <p>Address: 301 E Cottonwood Ln</p>
                    <p>State and City: Casa Grande AZ 85122</p>
                    <p>Phone: (602)569-3999</p>
                    <p>Database: Firebase/DrCash</p>
                </div>
            </div>
        </div>

        <div class="row p-20">
            <div class="col-12">
                <p>License info:</p>
                <table class="table mb-0">
                    <thead class="thead-default">
                    <tr>
                        <th>Version</th>
                        <th>Comment</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1.0.0</td>
                        <td>Initial version</td>
                        <td>01/05/2018</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>