<section>
    <div class="card" style="width: 350px">
        <!--Header-->
        <div class="card-title bg-primary">
            <!--Header-->
            <div class="row mt-2">
                <!--Down Icon-->
                <div class="col-1 offset-1">
                    <i class="zmdi zmdi-square-right" style="color: white; font-size: 40px"></i>
                </div>
                <!--Title-->
                <div class="col-5 ml-3">
                    <h1 style="color: white">Authorization</h1>
                </div>
            </div>
        </div>

        <!--Card Body-->
        <div class="cardLogin">
            <div class="row" align="center">
                <div class="col-12" style="margin-top: 20px;">
                    <!--<h2>Login</h2>-->
                    <!--<i class="zmdi zmdi-close-circle-o closeIcon" (click)="closeLogin()"></i>-->
                </div>
            </div>

            <div class="row">
                <div class="col-1 offset-1">
                    <i class="mt-3 zmdi zmdi-account {{errorUserName? 'errorColor':''}} "></i>
                </div>
                <div class="col-9">
                    <div class="form-group inputFieldStyle d-ilb">
                        <input class="form-control" type="text"
                               [(ngModel)]="User.email" name="username" required #username
                               placeholder="UserName" (keyup)="changeBooleansUserAndErrorsInLogin()"
                        >
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-1 offset-1">
                    <i class="zmdi zmdi-lock mt-3 {{wrongPassword? 'errorColor':''}} {{errorPass? 'errorColor':''}}"></i>

                </div>
                <div class="col-9">
                    <div class="form-group  inputFieldStyle d-ilb">

                        <input class="form-control" type="password"
                               [(ngModel)]="User.password" name="password" required #password
                               placeholder="Password"
                               (keyup)="changeBooleansPasswordAndErrorsInLogin()"
                               (keyup.enter)="errorInLoginFields(User)"
                        >

                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>
            <div class="button-container" style="margin-top: 20px">
                <div class="row">
                    <div class="offset-1 col-10">
                        <button class="btn btn-success btn-block" (click)="errorInLoginFields(User)">Login</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <div class="offset-1 col-10">
                        <!--<button class="btn btn-danger btn-block" (click)="closeModal()">Close</button>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row" align="center" style="margin-top: 10px;">
                        <div class="col-12">
                            <span class="errorColor" *ngIf="errorUserName">UserName Field is Empty</span>
                        </div>
                    </div>
                    <div class="row" align="center">
                        <div class="col-12">
                            <span class="errorColor" *ngIf="errorPass">Password Field is Empty</span>
                        </div>
                    </div>
                    <div class="row" align="center">
                        <div class="col-12">
                            <span class="errorColor"
                                  *ngIf="errorPassAndUsername">UserName and Password Fields is empty</span>
                        </div>
                    </div>
                    <div class="row" align="center">
                        <div class="col-12">
                            <span class="errorColor" *ngIf="userNotFound">User Not Found</span>
                        </div>
                    </div>
                    <div class="row" align="center">
                        <div class="col-12">
                            <span class="errorColor" *ngIf="wrongPassword">Wrong Password</span>
                        </div>
                    </div>
                    <div class="row" align="center">
                        <div class="col-12">
                            <span class="errorColor" *ngIf="invalidUser">Invalid User</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>