<aside class="sidebar" [class.toggled]="sidebarVisible">
    <perfect-scrollbar>

        <div class="user" dropdown>
            <div class="user__info" dropdownToggle>
                <img class="user__img" src="./assets/demo/img/profile-pics/4.jpg" alt="">
                <div>
                    <div class="user__name">Bienvenido</div>
                </div>
            </div>

            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="">Cerrar Sesión</a>
            </div>
        </div>

        <ul class="navigation">
            <li routerLinkActive="navigation__active"><a [routerLink]="['/usuarios']"><i class="zmdi zmdi-accounts-list"></i>Home</a></li>
            <!--<li routerLinkActive="navigation__sub&#45;&#45;active" class="navigation__sub">-->
                <!--<a (click)="toggleNavigationSub('Reports', $event)"><i class="zmdi zmdi-collection-text"></i>Reports</a>-->

                <!--<ul [@toggleHeight]="navigationSubState.Forms">-->
                    <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-elements']">Daily Transactions</a></li>-->
                    <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-components']">Log</a></li>-->
                    <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-validation']">Receipt</a></li>-->
                    <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-validation']">Closed Statements</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/usuarios']"><i class="zmdi zmdi-accounts-list"></i>User</a></li>-->
            <!--<li routerLinkActive="navigation__sub&#45;&#45;active" class="navigation__sub">-->
                <!--<a (click)="toggleNavigationSub('Reports', $event)"><i class="zmdi zmdi-collection-text"></i>Settings</a>-->

                <!--<ul [@toggleHeight]="navigationSubState.Forms">-->
                    <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-elements']">Register</a></li>-->
                    <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-components']">General</a></li>-->
                    <!--<li routerLinkActive="navigation__active"><a [routerLink]="['/form/form-validation']">SMTP</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </perfect-scrollbar>
</aside>
w