<section class="content">
    <div class="row">
        <div class="offset-2 col-8">
            <h4>Register</h4>
            <!--Card-->
            <div class="card mt-4 p-20" style="height: 70vh; max-height: 70vh">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            Register Number {{ registerNumber }}
                        </div>
                    </div>
                    <div class="row m-t-10">
                        <div class="m-l-25 col-4">
                            <label class="custom-control custom-checkbox">
                                <span class="custom-control-description">Active Register</span>
                                <input type="checkbox" class="custom-control-input" [(ngModel)]="activeRegister">
                                <span class="custom-control-indicator"></span>
                            </label>
                        </div>
                        <div class="col-8 text-right">
                            <button class="btn btn-primary m-r-20" (click)="openNewRegister()">Add Register</button>
                            <button class="btn btn-primary" (click)="editRegister()">Edit Register</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 p-t-10">
                            <span>Machine Name</span>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-line" [(ngModel)]="computerName">
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-primary btn-block" (click)="getComputerName()"> Get Computer Name
                            </button>
                        </div>
                    </div>

                    <div class="row" style="height: 330px; max-height: 330px; overflow-y: auto">
                        <!--Closed Statement Table-->
                        <div class="col-12">
                            <perfect-scrollbar>
                                <table class="table table-hover mb-0">
                                    <thead>
                                    <tr>
                                        <th>Register Number</th>
                                        <th>Machine Name</th>
                                        <th>Active</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let register of registers; let i = index" class="cursor-pointer"
                                        (click)="showRegister(register, i)">
                                        <td>{{register.registerNumber}}</td>
                                        <td>{{register.computerName}}</td>
                                        <td>{{register.activeRegister}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </perfect-scrollbar>
                        </div>
                    </div>
                </div>
                <div class="footer text-right">
                    <!--Buttons-->
                    <div class="mt-3 mb-3">
                        <button class="btn btn-success m-r-50" style="width: 100px" (click)="updateRegisters()">Save
                        </button>
                        <button class="btn btn-danger m-r-50" style="width: 100px" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>