.profilePicture {
  position: absolute;
  left: 41.5%;
  top: 11%;
  z-index: 1;
}

.profilePictureBackground {
  position: absolute;
  left: 40.63%;
  top: 9%;
  z-index: 0;
}

.editButton{
    position: absolute;
    left: 86.5%;
    top: 28%;
    z-index: 3;
}
.editButtonBackground{
  position: absolute;
  left: 85.92%;
  top: 26.7%;
  z-index: 2;
}

.profileImage{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 6px 15px 4px -15px rgba(176,170,176,1);
  -moz-box-shadow: 6px 15px 4px -15px rgba(176,170,176,1);
  box-shadow: 6px 15px 4px -15px rgba(176,170,176,1);
}