<section class="content">
  <!--Header-->
  <div class="row">
    <div class="col-4 offset-1">
      <h3 class="font-weight-bold">User Profile</h3>
    </div>

    <div class="col-3 offset-3">
      <button class="btn btn-success ml-5">
        Manage Users
      </button>
    </div>
  </div>

  <!--Card-->
  <div class="row mt-3">
    <div class="col-9 offset-1">
      <div class="card" style="width: 100%">
        <!--Blue Background And Buttons-->
        <div class="card-title bg-primary" style="width: 100%;height: 130px">
          <!--Profile Picture And Profile Picture Background -->
          <div class="profilePicture">
            <img class="profileImage img-circle" src="https://www.colourbox.com/preview/10831733-tablet-user-flat-icon.jpg" alt="">
          </div>
          <div class="profilePictureBackground">
            <div style="width: 165px;height: 165px;background-color: #FFFFFF; border-radius: 50%"></div>
          </div>

          <!--Profile Edit Button -->
          <div *ngIf="!editProfile" class="editButton">
            <button class="btn btn-warning" style="font-size: 25px; border-radius: 47%" (click)="editProfile = true"><i class="zmdi zmdi-edit"></i></button>
          </div>
          <div *ngIf="!editProfile" class="editButtonBackground">
            <div style="width: 55px;height: 55px;background-color: #FFFFFF; border-radius: 50%"></div>
          </div>

          <!--Cancel Edit Button -->
          <div *ngIf="editProfile" class="cancelEditButton">
            <button class="btn btn-danger" style="font-size: 25px; border-radius: 47%" (click)="cancelEditProfile()">
              <i class="zmdi zmdi-close"></i>
            </button>
          </div>
          <div *ngIf="editProfile" class="cancelEditButtonBackground">
            <div style="width: 55px;height: 55px;background-color: #FFFFFF; border-radius: 50%"></div>
          </div>

          <!--Finish Edit Button -->
          <div *ngIf="editProfile" class="finishEditButton">
            <button class="btn btn-success" style="font-size: 25px; border-radius: 47%" (click)="finishEditProfile()">
              <i class="zmdi zmdi-check"></i>
            </button>
          </div>
          <div *ngIf="editProfile" class="finishEditButtonBackground">
            <div style="width: 55px;height: 55px;background-color: #FFFFFF; border-radius: 50%"></div>
          </div>
        </div>

        <div class="card-body" style="font-size: 15px">


          <!--UserName-->
          <div class="row ml-4">
            <div class="col-2 offset-4">
              <div style="margin-top: 90px; margin-left: 49%">
                Carlos
              </div>
            </div>
          </div>

          <!--Not Editable Profile Fields-->
          <div *ngIf="!editProfile">
            <div class="row mt-3">
              <div class="col-3 offset-2">
                <p>First Name</p>
                <p>Last Name</p>
                <p>Email</p>
                <p>Security Question</p>
              </div>
              <div class="col-3 offset-2">
                <p>Carlos</p>
                <p>Alatorre</p>
                <p>carlos@carlos.com</p>
                <p>In what town was your first..</p>
              </div>
            </div>
          </div>

          <!--Editable Profile Fields-->
          <div *ngIf="editProfile">
            <div class="row mt-3">
              <div class="col-3 offset-2">
                <!--First Name Input-->
                <div class="form-group">
                  <input type="text" class="form-control form-control-line" placeholder="First Name">
                  <i class="form-group__bar"></i>
                </div>

                <!--Last Name Input-->
                <div class="form-group">
                  <input type="text" class="form-control form-control-line" placeholder="Last Name">
                  <i class="form-group__bar"></i>
                </div>

                <!--Email Input-->
                <div class="form-group">
                  <input type="text" class="form-control form-control-line" placeholder="Email">
                  <i class="form-group__bar"></i>
                </div>
              </div>
              <div class="col-3 offset-2">
                <!--Security Question Input-->
                <div class="form-group">
                  <input type="text" class="form-control form-control-line" placeholder="Security Question">
                  <i class="form-group__bar"></i>
                </div>
                <!--Security Question Answer Input-->
                <div class="form-group">
                  <input type="text" class="form-control form-control-line" placeholder="Answer">
                  <i class="form-group__bar"></i>
                </div>
                <!--New Password Input-->
                <div class="form-group">
                  <input type="password" class="form-control form-control-line" placeholder="New Password">
                  <i class="form-group__bar"></i>
                </div>
                <!--Confirm Password Input-->
                <div class="form-group">
                  <input type="password" class="form-control form-control-line" placeholder="Confirm Password">
                  <i class="form-group__bar"></i>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>






</section>