<section class="content">
    <div class="row">
        <div class="col-9">
            <div class="card m-b-30 h-436">
                <table class="table header_fijo">
                    <thead>
                    <tr class="w-847_5">
                        <th class="w-282">Transactions</th>
                        <th class="w-282">Processed By</th>
                        <th class="w-282">Date</th>
                    </tr>
                    </thead>
                    <tbody style="width: 847.5px; height: 390px; overflow-y: auto">

                    <tr>
                        <td class="w-282">Initial Cash</td>
                        <td class="w-282">Carlos Alatorre</td>
                        <td class="w-282">21/11/2017 01:12:32 p.m.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card" style="height: 120px">
                        <div class="m-t-20 m-l-20" >
                        <!--cash in-->
                        <button class="btn br-button size-button" style="background-color: #6BA751" (click)="openCashIn()">
                            <i class="zmdi zmdi-download zmdi-hc-5x" style="color: white"></i>
                        </button>
                        <!--cash out-->
                        <button class="btn br-button size-button m-l-20" style="background-color: #5B7EA8" (click)="openCashOut()">
                            <i class="zmdi zmdi-upload zmdi-hc-5x" style="color: white"></i>
                        </button>
                        <!--refund-->
                        <button class="btn br-button size-button m-l-20" style="background-color: #F1C334" (click)="openRefund()">
                            <i class="zmdi zmdi-inbox zmdi-hc-5x" style="color: white"></i>
                        </button>
                        <!--sign up-->
                        <button class="btn br-button size-button m-l-20" style="background-color: #5B9F9E" (click)="open('', '_self', '')">
                            <i class="zmdi zmdi-square-right zmdi-hc-5x" style="color: white"></i>
                        </button>
                        <!--close date-->
                        <button class="btn br-button size-button m-l-20" style="background-color: #CE0001" (click)="close()">
                            <i class="zmdi zmdi-close-circle-o zmdi-hc-5x" style="color: white"></i>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <!--Inital Cash-->
                <div class="card p-b-0 p-t-10 p-l-10 p-r-10 m-b-0">
                    <table class="table" style="border: 1px solid #2ebcfc">
                        <thead class="table-info" style="color: white;">
                        <tr>
                            <th>
                                <strong>Initial Cash</strong>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr align="right">
                            <td>$120.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--Cash in-->
                <div class="card  p-b-0 p-t-0 p-l-10 p-r-10 m-b-0">
                    <table class="table" style="border: 1px solid #2ebcfc">
                        <thead class="table-info" style="color: white;">
                        <tr>
                            <th>
                                <strong>Transactions In</strong>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left" class="p-b-0">Cash</td>
                            <td align="right" class="p-b-0">$120.00</td>
                        </tr>

                        <tr>
                            <td align="left" class="p-b-0">Credit Card</td>
                            <td align="right" class="p-b-0">$120.00</td>
                        </tr>

                        <tr>
                            <td align="left" class="p-b-0">Checks</td>
                            <td align="right" class="p-b-0">$120.00</td>
                        </tr>

                        <tr>
                            <td align="left">
                                <strong>Total In</strong>
                            </td>
                            <td align="right">
                                <strong>$120.00</strong>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <!--Cash out-->
                <div class="card  p-b-0 p-t-0 p-l-10 p-r-10 m-b-0">
                    <table class="table" style="border: 1px solid #2ebcfc">
                        <thead class="table-info" style="color: white;">
                        <tr>
                            <th>
                                <strong>Transactions Out</strong>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left" class="p-b-0">Cash</td>
                            <td align="right" class="p-b-0">$120.00</td>
                        </tr>

                        <tr>
                            <td align="left" class="p-b-0">Refunds</td>
                            <td align="right" class="p-b-0">$120.00</td>
                        </tr>

                        <tr>
                            <td align="left">
                                <strong>Total Ou</strong>
                            </td>
                            <td align="right">
                                <strong>$120.00</strong>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <!--Balance-->
                <div class="card p-t-0 p-l-10 p-r-10 m-b-0">
                    <table class="table" style="border: 1px solid #2ebcfc">
                        <thead class="table-info" style="color: white;">
                        <tr>
                            <th>
                                <strong>Balance</strong>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="right" class="p-b-0">
                                <strong>$120.00</strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>