<section class="content">
    <button (click)="open()"></button>
    <button (click)="openC()"></button>
    <div class="row">
        <div class="col-9">
            <div class="card">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Transactions</th>
                        <th>Processed By</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Initial Cash</td>
                        <td>Carlos Alatorre</td>
                        <td>21/11/2017 01:12:32 p.m.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
                <!--Inital Cash-->
                <div class="card p-b-0 p-t-10 p-l-10 p-r-10 m-b-0">
                    <table class="table" style="border: 1px solid #2ebcfc">
                        <thead class="table-info" style="color: white;">
                        <tr>
                            <th>
                                <strong>Initial Cash</strong>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr align="right">
                            <td>$120.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--Cash in-->
                <div class="card  p-b-0 p-t-0 p-l-10 p-r-10 m-b-0">
                    <table class="table" style="border: 1px solid #2ebcfc">
                        <thead class="table-info" style="color: white;">
                        <tr>
                            <th>
                                <strong>Transactions In</strong>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left" class="p-b-0">Cash</td>
                            <td align="right" class="p-b-0">$120.00</td>
                        </tr>

                        <tr>
                            <td align="left" class="p-b-0">Credit Card</td>
                            <td align="right" class="p-b-0">$120.00</td>
                        </tr>

                        <tr>
                            <td align="left" class="p-b-0">Checks</td>
                            <td align="right" class="p-b-0">$120.00</td>
                        </tr>

                        <tr>
                            <td align="left">
                                <strong>Total In</strong>
                            </td>
                            <td align="right">
                                <strong>$120.00</strong>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <!--Cash out-->
                <div class="card  p-b-0 p-t-0 p-l-10 p-r-10 m-b-0">
                    <table class="table" style="border: 1px solid #2ebcfc">
                        <thead class="table-info" style="color: white;">
                        <tr>
                            <th>
                                <strong>Transactions Out</strong>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="left" class="p-b-0">Cash</td>
                            <td align="right" class="p-b-0">$120.00</td>
                        </tr>

                        <tr>
                            <td align="left" class="p-b-0">Refunds</td>
                            <td align="right" class="p-b-0">$120.00</td>
                        </tr>

                        <tr>
                            <td align="left">
                                <strong>Total Ou</strong>
                            </td>
                            <td align="right">
                                <strong>$120.00</strong>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <!--Balance-->
                <div class="card p-t-0 p-l-10 p-r-10 m-b-0">
                    <table class="table" style="border: 1px solid #2ebcfc">
                        <thead class="table-info" style="color: white;">
                        <tr>
                            <th>
                                <strong>Balance</strong>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td align="right" class="p-b-0">
                                <strong>$120.00</strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>