<div class="card" style="width: 450px; margin-bottom: 0;">
  <div class="card-title bg-primary p-10">
    <!--Header-->
    <div class="row mt-2">
      <!--Down Icon-->
      <div class="col-1 offset-1">
        <i class="zmdi zmdi-account-circle" style="color: white; font-size: 40px"></i>
      </div>
      <!--Title-->
      <div class="col-5 offset-1">
        <h1 style="color: white">Reset User</h1>
      </div>
    </div>
  </div>


  <div class="card-body p-15">

    <!--Inputs-->
    <div>
      <!--New Password-->
      <div class="form-group">
        <input type="text" class="form-control form-control-line" placeholder="New Password" [(ngModel)]="editableUser.password"
        (ngModelChange)="displayPasswordLevel()">
        <i class="form-group__bar"></i>
      </div>

      <!--Level of security of the password-->
      <span  #securityLevel class="text-danger">{{passwordStregth}}</span>

      <!--Confirm Password-->
      <div class="form-group mt-3">
        <input type="password" class="form-control form-control-line" placeholder="Confirm Password">
        <i class="form-group__bar"></i>
      </div>

      <!--Security Questions-->
      <div class="form-group form-group--select">
        <div class="select">
          <select class="form-control">
            <option *ngFor="let question of securityQuestions">{{question}}</option>
          </select>
        </div>
      </div>

      <!--Security Answer-->
      <div class="form-group">
        <input type="text" class="form-control form-control-line" placeholder="Answer">
        <i class="form-group__bar"></i>
      </div>
    </div>

    <!--Buttons-->
    <div class="row">
      <div class="col-3 offset-2">
        <button class="btn btn-success">Change</button>
      </div>
      <div class="col-3 offset-1">
        <button class="btn btn-danger">Cancel</button>
      </div>
    </div>

  </div>
</div>