<section>
    <div class="cardLogin">
        <div class="row" align="center">
            <div class="col-12" style="margin-top: 20px;">
                <h2>Login</h2>
                <!--<i class="zmdi zmdi-close-circle-o closeIcon" (click)="closeLogin()"></i>-->
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-left: 20px">

                    <div class="col-10">
                        <i class="zmdi zmdi-account {{errorUserName? 'errorColor':''}} " ></i>
                        <div class="form-group form-group--float inputFieldStyle d-ilb">

                            <input class="form-control" type="text"
                                   [(ngModel)]="user.username" name="username" required #username
                                   placeholder="UserName" (keyup)="errorUserName=false"
                            >

                            <i class="form-group__bar"></i>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="row" style="margin-left: 20px">

                    <div class="col-10">
                        <i class="zmdi zmdi-lock {{errorPass? 'errorColor':''}}"></i>
                        <div class="form-group  inputFieldStyle d-ilb">

                            <input class="form-control" type="password"
                                   [(ngModel)]="user.password" name="pass" required #password
                                   placeholder="Password" (keyup)="errorPass=false"
                            >

                            <i class="form-group__bar"></i>
                        </div>

                    </div>
                    <div class="col-2">

                    </div>

                </div>
            </div>
        </div>


        <div class="button-container" style="margin-top: 20px">
            <div class="row">
                <div class="offset-1 col-10">
                    <button class="btn btn-success btn-block" (click)="errorInLoginFields(user)">Login</button>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="offset-1 col-10">
                    <button class="btn btn-danger btn-block" (click)="closeApp()">Close</button>
                </div>
            </div>
        </div>


    </div>
    <div>
        <div class="row">
            <div class="col-12" align="center" style="margin-top: 20px">
                <div *ngIf="showError"
                     class="alertMessage alert alert-danger animated {{ showError ? 'bounceIn':'' }}  {{ closeError ? 'bounceOut' : '' }}"
                     role="alert">
                    Verifica los campos en rojo
                </div>
            </div>
        </div>
    </div>
    <!--Mensaje de error-->


</section>

