// Site Variable and Mixins
@import "./assets/scss/variables";
@import "./assets/scss/mixins";


// Bootstrap
@import "./assets/scss/bootstrap-imports/bootstrap-imports";


// Site Styles
@import "./assets/scss/fonts";
@import "./assets/scss/generics";
@import "./assets/scss/base";
@import "./assets/scss/layout";
@import "./assets/scss/charts";
@import "./assets/scss/toggle-switch";
@import "./assets/scss/listview";
@import "./assets/scss/page-loader";
@import "./assets/scss/theme";


// Bootstrap Overrides
@import "assets/scss/bootstrap-overrides/dropdown";
@import "assets/scss/bootstrap-overrides/media";
@import "assets/scss/bootstrap-overrides/progress";
@import "assets/scss/bootstrap-overrides/card";
@import "assets/scss/bootstrap-overrides/buttons";
@import "assets/scss/bootstrap-overrides/tables";
@import "assets/scss/bootstrap-overrides/forms";
@import "assets/scss/bootstrap-overrides/input-groups";
@import "assets/scss/bootstrap-overrides/custom-forms";
@import "assets/scss/bootstrap-overrides/pagination";
@import "assets/scss/bootstrap-overrides/datepicker";
@import "assets/scss/bootstrap-overrides/timepicker";
@import "assets/scss/bootstrap-overrides/alerts";
@import "assets/scss/bootstrap-overrides/close";
@import "assets/scss/bootstrap-overrides/breadcrumbs";
@import "assets/scss/bootstrap-overrides/accordion";
@import "assets/scss/bootstrap-overrides/carousel";
@import "assets/scss/bootstrap-overrides/modal";
@import "assets/scss/bootstrap-overrides/popovers";
@import "assets/scss/bootstrap-overrides/ratings";
@import "assets/scss/bootstrap-overrides/sortable";
@import "assets/scss/bootstrap-overrides/tabs";
@import "assets/scss/bootstrap-overrides/tooltip";


// Vendor Overrides
@import "./assets/scss/vendor-overrides/flot";
@import "./assets/scss/vendor-overrides/sparklines";
@import "./assets/scss/vendor-overrides/select2";
@import "./assets/scss/vendor-overrides/dropzone";
@import "./assets/scss/vendor-overrides/angular2-color-picker";
@import "./assets/scss/vendor-overrides/nouislider";
@import "./assets/scss/vendor-overrides/easypiecharts";
@import "./assets/scss/vendor-overrides/perfect-scrollbar";


// App Global Styles
@import "./assets/scss/misc";
@import "./assets/scss/spacing";

.content-standard{
  padding-left: 30px!important;
}

.cursor-pointer{
  cursor: pointer;
}
#scrollbar::-webkit-scrollbar-track
{
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #328bc7;
}
