// Import Bootstrap and App variables and mixins
@import "../../../../../assets/scss/inner-imports";


.widget-pie {
  @include clearfix();
  background-color: $red;
  flex-direction: row;
  flex-wrap: wrap;
}

.widget-pie__item {
  width: 33.33333%;
  float: left;
  text-align: center;
  padding: 20px 5px;

  &:nth-child(2n) {
    background-color: rgba($white, 0.1);
  }
}

.widget-pie__title {
  color: $white;
}